section{
  min-height: 100vh;
  display: flex;
  background: #fcfcfc;
}
section:nth-child(2){
  background-image: url(/images/ss2.jpg);
  background-attachment: fixed;
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: auto;
  background-repeat: no-repeat;
  flex-direction: column;
  border-bottom: solid 2px #2c2c2c;
  justify-content: center;
  align-items: center;
}
section:nth-child(2) h1{
  padding: 50px 10px;
  margin:5%;
  font-size: 70px;
  color: #fcfcfc;
  font-family: 'Oswald';
  font-weight: normal;
}
.CTA{
  min-height: 50px;
  min-width: auto;
  font-family: Oswald;
  font-weight: normal;
  color: #2c2c2c;
  font-size: 20px;
  background-color: #fcfcfc;
  text-align: center;
  padding: 15px;
  margin: 5px 5px 150px 50px;
  border-radius: 1px;
  border: #2c2c2c solid 2px;
  display: block;
  margin-right: 5%;
  opacity: 85%;
  transition: transform (.5s);
}
.CTA:hover{
  opacity: 90%;
  color:#FF5F5F;
  transform:scale(0.9);
}
section:nth-child(3){
  flex-direction: row;
  justify-content: space-evenly;
  gap:0;
  border-bottom: solid 2px #2c2c2c;
}
.div1{
  order: 1;
  flex-basis: 60%;
  background-image: url(/images/ss1.jpg);
  background-attachment: fixed;
  background-size: 100% 100% ;
  /* height: 100vh; */
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;
}
.div2{
  order: 2;
  flex-basis: 40%;
  background-color: #2c2c2c;
  padding-right: 5%;
  padding-left:2%;
  justify-items: center;
  text-align: right;
  padding-top: 50px;
}
.text1, .text2{
  font-family: 'Open Sans', sans-serif;
  color: #fcfcfc;

}
.title2{
  color: #fcfcfc;
  font-size: 70px;
  font-family: 'Oswald';
  font-weight: normal;
}
/* projects */
section:nth-child(4){
  flex-direction: column;
  justify-content: space-evenly;
  gap:0;
  border-bottom: solid 2px #2c2c2c;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}
.projbutton{
  margin-top: 2%;
}
hr{
  display: block;
  border: #FF5F5F solid 2px;
  border-radius: 5px;
  width: 60%;
  /* text-align: center; */
  margin-right: auto;
  margin-left: auto;
}
.card{
  border: 2px solid #2c2c2c;
}
.card-title{
  color: #2c2c2c;
  font-family: 'Oswald';
  font-weight: normal;
  text-align: center;
}
.card-text{
  color: #2c2c2c;
  font-family: 'Open Sans' sans-serif;
  font-weight: normal;
  text-align: center;
}

/* services */
section:nth-child(5){
  background: #fcfcfc;
  margin: 0;
  flex-direction: column;
}
.container1{
  text-align: center;
  padding: 2%;
}
.container2, .container3, .container4{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2c2c2c;
}
.container2-1, .container2-2, .container3-1, .container3-2, .container4-1, .container4-2{
  flex-basis:50%;
  justify-content: center;

  display: flex;
  flex-direction: column;
}
.mainpic{
  width: 100%;
  height: auto;
  opacity: .7;
}

section:nth-child(6){
  background: #fcfcfc;
  margin: 0;
  flex-direction: column;
}
.container5{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5%;
}
.container6{
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: space-evenly;
  margin: 5%;
  align-items: center;

  font-family: 'Oswald';
  color: #2c2c2c;
}
.container7{
  margin-top: 5%;
}

.modal-content{
  background-color: #2c2c2c;
  color: #2c2c2c;
  border: solid 2px #FF5F5F;
  border-radius: 7px;
  font-family: 'Open Sans', sans-serif;
}
.closebtnstyle, .btn{
  background-color: #FF5F5F;
  color: #fcfcfc;
  font-family: 'Oswald';
  font-weight: normal;
  border-radius: 50%;
  border: solid 1px #FF5F5F;
  transition: transform (.5s);
  justify-self: left;
}
.closebtnstyle:hover{
  color:#FF5F5F;
  transform:scale(0.9);
}
.modal-body, .modal-header, .modal-footer{
  border: none;
}
.btn{
  background-color: #FF5F5F;
  color: #fcfcfc;
  font-family: 'Oswald';
  font-weight: normal;
  border-radius: 3px;
  border: solid 1px #FF5F5F;
}
.btn:hover{
  background-color: #fcfcfc;
  color: #2c2c2c;
}
.text3{
  color: #fcfcfc;
  font-family: 'Oswald';
  font-weight: normal;
  padding-right: 5%;
  padding-left: 5%;
}
.text4{
  color: #fcfcfc;
  font-family: 'Open Sans' sans-serif;
  font-weight: normal;
  padding: 5%;
}
.text5{
  color: #2c2c2c;
  font-family: 'Oswald';
  font-weight: normal;
  padding-right: 5%;
  padding-left: 5%;
}
.text6{
  color: #2c2c2c;
  font-family: 'Open Sans' sans-serif;
  font-weight: normal;
  padding: 2% 5%;

}
.contacthr{
  display: block;
  border: #FF5F5F solid 5px;
  border-radius: 5px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
.form-floating{
  color: #2c2c2c;
  border: solid 2px #FF5F5F;
  border-radius: 7px;
  font-family: 'Open Sans', sans-serif;
  width:100%;
}
.sendbuttongenwhitebg{
  min-height: 50px;
  min-width:auto;
  background-color: #2c2c2c;
  padding: 10px;
  border: solid 2px #2c2c2c;
  border-radius: 3px;
  color: #fcfcfc;
  font-family: 'Oswald';
  font-weight: normal;

  margin-top: 3%;
  margin-bottom: 3%;
}
.sendbuttongenwhitebg:hover{
  background-color: #FF5F5F;
  border: solid 2px #FF5F5F;
}


/* mobile view */

@media (max-width: 480px) {
  /* home */
  /* section:nth-child(2){
    background-color: rgba(255, 255, 255, 0.2);
  } */
  section:nth-child(2) h1{
    font-size: 45px;
    margin-top: 100px;
  }
  /* about */
  .title2{
    font-size: 40px;
    text-align: center;
  }
  section:nth-child(3) {
    background-color: #2c2c2c;
    padding-top: 10px; /* Adjust padding for smaller screens */
    padding-bottom: 10px;
    margin:0;

    flex-direction: column;
    border-bottom: solid 2px #2c2c2c;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
  }
  .div2{
    min-width: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    text-align: center;
  }
  .text1{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #fcfcfc;
    background-color: #FF5F5F;
    padding:15px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    /* position: relative;
    animation-name: easein1;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transition: left .7s ease;
    left: -400px; */
  }
  /* .text1.animated {
    left: 0px;
  }

  @keyframes easein1 {
    from {left: -400px;}
    to {left: 0px;}
  } */
  .text2{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #fcfcfc;
    background-color: #FF5F5F;
    padding:15px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    /* position: relative;
    animation-name: easein2;
    animation-duration: .9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transition: right .9s ease;
    right: -400px; */
  }
/*  
  .text2.animated {
    right: 0px;
  }

  @keyframes easein2 {
    from {right: -400px;}
    to {right: 0px;}
  } */

  /* projects */

  .card{
    border: 2px solid #FF5F5F;
  }
  .card-title{
    color: #fcfcfc;
  }
  .card-body{
    background-color: #2c2c2c;
  }

  /* services */
  .container2-1, .container3-1, .container4-1 {
    flex-basis:30%;
  }
  .container2-2, .container3-2, .container4-2 {
    flex-basis:70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .container3-2-1{
    display: flex;
    flex-direction: column;
  }

  /* contact */
  .text5{
    text-align: center;
  }
  .text6{
    text-align: center;
  }
  .container6{
    flex-direction:column-reverse;
  }
  .contactDetails{
    padding: 5%;
  }
  
}

/* Portrait tablets and landscape mobiles */
@media (max-width: 820px) {
  .title2{
    font-size: 50px;
  }
}